[Unit]
Description=Renew proxy every day at midnight
   
[Timer]
OnCalendar=*-*-* 00:00:00
Unit=osg-token-renewer.service
   
[Install]
WantedBy=multi-user.target
